# MySQL (Sakila в облаке)
MYSQL_HOST=your-mysql-host
MYSQL_PORT=3306
MYSQL_USER=your_mysql_user
MYSQL_PASSWORD=your_mysql_password
MYSQL_DB=sakila

# MongoDB (логирование, облако)
MONGO_URI=mongodb+srv://user:password@cluster.mongodb.net
MONGO_DB=logs
MONGO_COLLECTION=film_search_logs

# Общие настройки приложения
APP_ENV=dev
APP_LOG_LEVEL=info